<div class="container mt-3 text-center">
  <ol>
    <% @letters.each do |letter|%>
    <li><%= letter %></li>
    <% end %>
  </ol>
  <form action="score" method="new" data-turbo="false">
  
  </form>
</div>
