<div class="container mt-3 text-center">
  <ol>
    <% @letters.each do |letter|%>
    <li><%= letter %></li>
    <% end %>
  </ol>
  <div class="center col-4">
    <form action="/score" method="post" data-turbo="false">
      <label for="word" class="form-label">Whats the longest word you can find:</label>
      <input id="word" type="text" name="word" class="form-control mb-1"  >
      <input type="submit" value="Play!" class="form-control" >
      <input id="token" name="token" type="hidden" value="<%= @letters %>" />
      <input id="start" name="start" type="hidden" value="<%= Time.now %>" />
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>
</div>
