<% require "open-uri" %>
  <% require "json" %>

<%
  def check_grid(attempt, grid)
    used_letters = []

    attempt.upcase.chars.all? do |char|
      if grid.include?(char) && (used_letters.count(char) < grid.count(char))
        used_letters << char
        true
      else
        false
      end
    end
  end

  def parse(url)
    serialised = URI.open(url).read
    JSON.parse(serialised)
  end

  def run_game(attempt, grid)
      word_result = parse("https://wagon-dictionary.herokuapp.com/#{attempt}")
      if word_result["found"] && check_grid(attempt, grid)
        result = { score: attempt.length, message: "Contrats! #{attempt.upcase} is a valid English word" }
      elsif !word_result["found"] && check_grid(attempt, grid)
        result = { score: 0, message: "#{attempt.upcase} is not an english word" }
      else
        result = { score: 0, message: "#{attempt.upcase} is not in the grid" }
      end
      result
    end %>

<% result = run_game(params[:word], params[:token])%>
<%= "#{result[:message]}" %>
<br>
<%= "Your score: #{result[:score]}" %>
<br>
<br>
<a href="/" id="link">Play again</a>
